@page "/"

@using System.Net.WebSockets
@using System.Text
<PageTitle>Index</PageTitle>

<h1>Hello, DF21!</h1>

<MyComponent ComponentText="Hello from the Blazor WASM App to the Razor Class Library!"></MyComponent>

